<div class="jumbotron">
	<h1>Voting App!</h1>
	<h3>Here you can vote for the best articles!</h3>
</div>
<div id="article_list">
	<%= render partial: 'articles/article_list' %>
</div>
<%= link_to 'New Article', new_article_path, class: 'btn btn-primary', remote: true %>
<div class="modal fade" role="dialog"></div>