<div class="jumbotron">
	<h1>Voting App!</h1>

	<h3>Here you can vote for the best articles!</h3>

<%= link_to "Sign up now!", '#', class: "btn btn-large btn-success" %>
</div>
<div id="article_list">
	<%= render partial: 'articles/article_list' %>
</div>
<div class="modal fade" role="dialog"></div>