<footer class="footer">
	<div class="container">
		<small>
			A simple article voting app by Alex.
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
				<li><%= link_to "Map", '#' %></li>
			</ul>
		</nav>
		<%= link_to image_tag("voted_today.gif", alt: "Voting app"), root_path %>
	</div>
</footer>
